/* Stylesheet */
body {
	background-color: #ffead5;
}

/* Make logo in the middle */
.navbar {
    position: relative;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    font-weight: bold;
    font-size: 170%;
}

/* Header */
header {
	/*background-color: #d9e1eb;*/
	background: rgb(217,225,235);
	background: linear-gradient(90deg, rgba(217,225,235,1) 0%, rgba(255,255,255,1) 50%, rgba(217,225,235,1) 100%);
}

.row {
    margin: 10%;
}

img {
    width: 100%;
    vertical-align: middle;
}

p#deflationary-text{
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    display: block;
}

.meme-title {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    display: block;
}

.meme-subtitle {
    text-align: center;
    font-size: 170%;
    font-weight: bold;
    transform: rotateZ(-45deg);
}

.telegram-link {
    text-align: center;
    font-size: 170%;
    font-weight: bold;
    display: block;
}