@font-face {
  font-family: "Ink Free";
  src: url('fonts/inkfree.woff') format('woff'),
       url('fonts/inkfree.ttf') format('truetype');
}

/* Stylesheet */
body {
	background-color: #ffead5;
    font-family: "Ink Free", Calibri, Tahoma, sans-serif;
}

/* Make logo in the middle */
.navbar {
    position: relative;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    font-weight: bold;
    font-size: 170%;
}

/* Header */
header {
	/*background-color: #d9e1eb;*/
	background: rgb(217,225,235);
	background: linear-gradient(90deg, rgba(217,225,235,1) 0%, rgba(255,255,255,1) 50%, rgba(217,225,235,1) 100%);
}

header.navbar {
	position: fixed;
	width: 100%;
}

@media (min-width: 992px) {
    header.navbar .menu-right {
        width: 100%;
        flex-direction: row-reverse!important;
    }
}
@media (max-width: 991.99px) {
    header nav {
        align-items: start!important;
    }
}

section {
    min-height: 50vh;
}

.row {
    margin: 10%;
}

@media only screen and (max-width: 912px) {
    .binance-logo {
        display: none;
    }
}

@media only screen and (max-width: 912px) {
    .binance-logo-phone {
        display: flex;
    }
} 

.binance-logo-phone {
        display: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

p#deflationary-text{
    text-align: center;
    margin-top: 30vw;
    background: #fff0e180;
}

.section-title {
    text-align: center;
    font-size: 3.8vw;
    font-weight: bold;
    display: block;
    margin-bottom: 4vw;
}

.meme-title {
    text-align: center;
    font-size: 2.6vw;
    font-weight: normal;
    display: block;
}

.meme-subtitle {
    text-align: center;
    font-size: 2.2vw;
    font-weight: bold;
    transform: rotateZ(-15deg);
    margin-top: 4vw;
    margin-bottom: 4vw;
    border: 1px solid black;
    padding: 0.3vw 0.5vw;
}

.telegram-link {
    text-align: center;
    font-weight: bold;
    display: block;
}

.section-anchor {
	margin-top: -55px;
    position: absolute;
}

.boner-text {
    font-weight: bold;
    font-size: 3.4vw;
}

.boner-text img {
    display: inline-block;
    width: 65%;
}

.meme-page img {
    border: 5px solid #7030a0;
}

.text-md {
    font-size: 3vw;
    font-weight: bold;
}

.fire-box {
    background: url("images/fire.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 50vw;
}

.deflationary-page-table {
    list-style: none;
    background: #ff6600;
    padding: 0.2vw 3vw 1.5vw 3vw;
    border-radius: 2vw;
    border: 2px solid black;
}

section a {
    text-decoration: none;
    color: black;
}

section a:hover {
    text-decoration: underline;
    color: black;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
  margin-left: -1.5vw;
}


.deflationary-page-table a {
    font-size: 63%;
}

.deflationary-page-table a .y {
    color: #ffff00;
}

.deflationary-page-table a .g {
    color: #a9d18e;
}

.deflationary-page-table .move-up {
    display: block;
    margin-top: -1vw;
}

.safe-page-table {
    background: #dddddd;
    border: 1px solid black;
    padding: 2vw 2vw 2vw 5vw;
    font-size: 90%;
}

.centered {
    width: 100%;
    text-align: center;
}

.email-label {
    float: right;
    position: absolute;
    display: inline-block;
    font-size: 2.4vw;
    font-weight: normal;
    margin-left: 3.5vw;
    margin-right: -3.5vw;
}

.email-label b {
    font-size: 2.7vw;
}

.email-label a {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

.social-btn {
    padding: 1vw 2vw;
    border: 1px solid black;
    font-size: 2.8vw;
    margin: 1vw;
}

.social-btn:hover {
    text-decoration: none;
}

.social-btn-sm {
    margin: 0.5vw;
    padding: 0.5vw 1vw;
}

.telegram-btn {
    background: #92d050;
}

.telegram-btn:hover {
    background: #92d05088;
}

.twitter-btn {
    background: #00b0f0;
}

.twitter-btn:hover {
    background: #00b0f088;
}

.buy-page img {
    border: 5px solid #6600ff;
}

.bone-bg-box {
    background: url("images/buybone.png");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 13%;
    text-align: center;
    font-size: 2.3vw;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.vbone-small {
    background: url("images/vbone-small.png");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 7vw;
    height: 4vw;
    display: inline-block;
}

.meme-page img {
    margin-bottom: 1vw;
}

.visible-sm {
    display: none;
}
.hidden-sm {
    display: inherit;
}
.visible-md {
    display: none;
}
.hidden-md {
    display: inherit;
}

.moon-page section {
    min-height: auto;
}

.moon-page .section-title {
    margin-bottom: 1vw;
}


@media (max-width: 991.99px) {  /* mobile menu shown */
    .home-page {
        padding-top: 40px;
    }
    .visible-md {
        display: inherit;
    }
    .hidden-md {
        display: none;
    }
    .buy-page {
        min-height: calc(100vh - 60px);
    }
}

@media (max-width: 767px) { /* -md- breakpoint */
    .meme-page img {
        margin-bottom: 5vw;
    }
    .meme-title {
        font-size: 3.4vw;
    }
    .section-title {
        font-size: 5vw;
    }
    .meme-subtitle {
        margin-top: 10vw;
        margin-bottom: 15vw;
        font-size: 3vw;
    }
    /*
    .vbone-page img {
        width: 60%;
        margin-left: 20%;
    }*/
    .text-md {
        font-size: 3.5vw;
    }
    .social-btn {
        font-size: 5vw;
        margin: 3vw;
    }
    .email-label {
        font-size: 3.5vw;
        position: relative;
        margin-top: 5vw;
    }
    .email-label b {
        font-size: 4vw;
    }
    .visible-sm {
        display: inherit;
    }
    .hidden-sm {
        display: none;
    }
    .moon-page .section-title {
        margin-bottom: 2vw;
    }
}